{% for item in object_list %}

<div class="col-sm-11 item" style="border:3px #00B344  solid;">
    <div class="row">


        {% if item.img %}
        <div class="col-md-12 col-lg-5">
            <a href="#"><img class="img-fluid" src="{{item.img.url}}"></a>
        </div>
        {% else %}
        <div class="col-md-12 col-lg-5">
            <a href="#"><img class="img-fluid" src="http://tumen.qlaster.ru/img/tovars_img8.png" width="200"></a>
        </div>
        {% endif %}


        <div class="col">
            <h3 class="name">title: {{ item.title }}</h3><br>
            <p>price: {{ item.price }}</p>
            <p>id: {{ item.pk }}</p>
            <p class="description">text: {{ item.text }}</p>
            <div>
                <a href="{% url 'update' item.pk %}">Редактировать</a>
            </div>
        </div>

    </div>


</div>
<br>
{% endfor %}

<form action="{% url 'create_person_home' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
</form>




