{% for item in press %}

<div class="col-sm-6 item" style="border:3px #00B344  solid;">
    <div class="row">


        {% if item.img %}
        <div class="col-md-12 col-lg-5">
            <a href="#"><img class="img-fluid" src="{{item.img.url}}" width="200"></a>
        </div>
        {% else %}
        <div class="col-md-12 col-lg-5">
            <a href="#"><img class="img-fluid" src="http://tumen.qlaster.ru/img/tovars_img8.png" width="200"></a>
        </div>
        {% endif %}


        <div class="col">
            <h3 class="name">{{ item.title }}</h3>
            <p class="description">{{ item.text }}</p>
        </div>
    </div>
</div>
<br>
{% endfor %}




