<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'w2/css/css1.css'%}" type="text/css">
</head>
<body>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <a class="navbar-brand" href="#">Navbar</a>
      <a class="navbar-brand" href="{% url 'form' %}">Добавить</a>
    </div>
  </nav>
</div>


{% block content %}


{% block queryset %}
    {% for item in object_list %}
    {{ item }}
    {% endfor %}
{% endblock queryset %}


{% block form %}

{% endblock form %}


{% endblock content %}





</body>
</html>