{% extends 'w2/base.html' %}

{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="row">

            <div class="col-md-4">
            </div>

            <div class="col-md-4">


                <div class="login-box">
                    <div >
                        <h2>Создание объекта</h2>
                        <form method="POST" enctype="multipart/form-data">

                            {% csrf_token %}

                            <!--        <div class="user-box">-->
                            <!--            <div>{{ form.title }}</div>-->
                            <!--        </div>-->

                            <div>{{ form.title }}</div>
                            <br>

                            <div class="user-box">
                                <!--            <input type="text" name="" required="" placeholder="Текст">-->
                                <!--            <label></label>-->
                                <div>{{ form.text }}</div>
                            </div>


                            <div><p class="">{{ form.img }}</p></div>

                            <a href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>

                                <button type="submit" class="t1"><h4>Редактировать</h4></button>

                            </a>
                        </form>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
            </div>

        </div>
    </div>
</div>
{% endblock  %}