{% extends 'w2/base.html' %}



{% block 'NAVBAR_filter' %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">


            <li class="nav-item"><a class="nav-link" href="#">Features</a></li>

            <li class="nav-item"><a class="nav-link" href="#">Features</a></li>

            <li class="nav-item"><a class="nav-link" href="#">Features</a></li>


            <li class="nav-item">
                <a class="nav-link" href="#">
                    <form class="form-inline" action="{% url 'filter_title' %}" method="get">
                        {% csrf_token %}
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">По
                            алфавиту
                        </button>
                    </form>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">
                    <form class="form-inline" action="{% url 'filter_price' %}" method="get">
                        {% csrf_token %}
                        <button class="btn btn-outline-success my-2 my-sm-0"  type="submit">По
                            цене
                        </button>
                    </form>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">
                    <form class="form-inline" action="{% url 'filter_text' %}" method="get">
                        {% csrf_token %}
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">По
                            содержимому
                        </button>
                    </form>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">
                    <form class="form-inline" action="{% url 'filter_id' %}" method="get">
                        {% csrf_token %}
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">По
                            дате создания
                        </button>
                    </form>
                </a>
            </li>


        </ul>
    </div>
</nav>
{% endblock 'NAVBAR_filter' %}


{% block 'NAVBAR_search' %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <form action="{% url 'search' %}" method="get">
                {% csrf_token %}
                <input name="s" type="text" placeholder="Search...">
            </form>
        </div>
    </nav>
</div>
{% endblock 'NAVBAR_search' %}


{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="row">


            <div class="col-md-8">
                {% block queryset %}
                {% include 'w2/_queryset.html' %}
                {{ object_list }}
                {% endblock queryset %}
            </div>



        </div>
    </div>
</div>
{% endblock content %}